name: Android CI

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Git Pull
      uses: actions/checkout@master
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      with:
        SIGNINGKEYBASE64: ${{ secrets.SIGNING_KEY }}
        ALIAS: ${{ secrets.ALIAS }}
        KEYSTOREPASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
        KEYPASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: |
        touch keystore.properties && echo 'storePassword=' >> keystore.properties && echo 'keyPassword=' >> keystore.properties
         && echo 'keyAlias=' >> keystore.properties && echo 'storeFile=' >> keystore.properties
        sed -i -e "s/storePassword/${KEYSTOREPASSWORD}/g" keystore.properties
        sed -i -e "s/keyPassword/${KEYPASSWORD}/g" keystore.properties
        sed -i -e "s/keyAlias/${ALIAS}/g" keystore.properties
        sed -i -e "s/storeFile/${SIGNINGKEYBASE64}/g" keystore.properties
        sudo -E chown -R $(whoami) $ANDROID_HOME
        chmod +x gradlew
        ./gradlew build
#
#    - name: Sign Android release
#      uses: r0adkll/sign-android-release@v1
#      with:
#        releaseDirectory: app/build/outputs/bundle/release
#        signedReleaseFile: app/releases/app.aab
#    - name: GH Release
#      uses: softprops/action-gh-release@v0.1.0
#      with:
#        # Note-worthy description of changes in release
#        body: # optional, default is empty
#        # Path to load note-worthy description of changes in release from
#        body-path: # optional, default is empty
#        # Gives the release a custom name
#        name: # optional, default is Name of tag
#        # Creates a draft release
#        draft: true
#        # Comma-delimited list of path globs for asset files to upload
#        files: app/releases/app.aab
      
    
